<body>
<ul>
    <li><a href="potash.html" target="_top">Link to Potash Website</a></li>
    <li><a href="potassium.html" target="_top">Link to Potassium Website</a></li>
    <li><a href="edmund_hillary.html" target="_top">Link to Sir Edmund Hillary Website</a></li>
</ul>
</body>